.btn {
  padding: 5px 7px;
}
.isClicked {
  background-color: rgba(222, 222, 222, 0.25);
  color: rgba(190, 190, 190, 0.75);
  font-weight: bold;
  border: none;
  box-shadow: 2px 3px 4px gray;
  font-family: Montserrat-BlackItalic;
}

.notClicked {
  background-color: rgba(222, 222, 222, 0.5);
  color: gray;
  font-family: Montserrat-SemiBold;
  text-transform: uppercase;
  border: none;
  box-shadow: 2px 3px 4px gray;
}

.nextBtn {
  background-color: rgba(50,205,50,0.97);
  color: white;
  font-family: Montserrat-BlackItalic;
  text-transform: uppercase;
  border: none;
  padding: 7px 12px;
  box-shadow: 2px 2px 3px gray;
}
